@import "tailwindcss";
@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  /* Her tilføjes theme variable // tokens */

  /* Costum Colors */
  --color-neutral: #f8f8f8;
  --colour-bg-rose-500: #ec425a;
  --color-light-green: #005f67;
  --color-medium-green: #005f67;
  --color-dark-green: #005f67;
  --color-dark-blue: #144162;
  --color-green1: #28948c;

  /* Costum theme fonts */
  --font-sans: "roboto";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
