---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Burger from "../components/Burger.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Footer from "../components/Footer.astro";
---

<MainLayout title="Titel">
	<article class="[&_section]:pb-12 [&_h1]:text-1xl lg:[&_h1]:text-[50px] [&_h1]:uppercase [&_h1]:font-bold bg-neutral">
			<!-- Hero -->
			<section class="relative px-2.5 bg-dark-green min-h-125 lg:min-h-162.5 flex items-end">
				<img src="/hero.jpg" alt="Hero background" class="absolute inset-0 w-full h-full object-cover z-0" style="object-position: top;" />
				<img src="/heroshade_blue.png" alt="Hero shade" class=" absolute bottom-0 left-0 w-full h-30 lg:h-48 z-10 pointer-events-none" style="object-fit:cover;" />
				<div class=" absolute bottom-0 left-0 w-full flex flex-col items-start justify-center z-20" style="height:8rem; /* h-32 */ @media (min-width:1024px){height:10rem;} /* lg:h-40 */">
					<div class=" w-full flex flex-col justify-center h-full pl-8">
						<h1 class=" elementmedanimation3 mb-2 text-white text-left relative z-30 leading-tight">Velkommen til Klima <br>  ministeriets ungdoms side! <br></h1>
					</div>
				</div>
			</section>
		
			<img src="/dividers/bottom1.svg" alt="">

			<!-- Short About -->
			<section class="px-2.5 py-56 text-white bg-[#EC425A] grid gap-32 justify-items-start text-left [&_h2]:text-[36px] [&_h2]: [&_h2]:font-bold lg:-mb-32 min-h-225 lg:min-h-300">
				<h2 class="p-5 align-left ml-40 mt-30">VELKOMMEN TIL KLIMA - TINDER <br> Er du fan, eller ikke fan? </h2>
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-24 lg:max-w-5xl w-full mx-auto items-start">
					<div class="flex justify-center items-start lg:-mt-48 -mt-32">
						<img src="tinderkort1.png" alt="tinderkort1" class="max-w-full h-auto" />
					</div>
					<div class="flex flex-col justify-center items-center lg:-mt-48 -mt-32">
						<img src="public/batch_frame.png" alt="batch" class="max-w-full h-auto" />
						<div class="flex flex-row items-center gap-2 w-full mt-4">
							<img src="public/insta_farve.png" alt="instafarve" class="max-w-full h-auto mb-0" />
							<p class="text-left mb-0">Del med dine venner hvad du gør for klimaet her! </p>
						</div>
					</div>
					
				</div>
			</section>

			<img src="/dividers/top2.svg" alt="" class="z-10">
			
			<!-- Hook -->
			<section 
			div class="flex flex-row items-center ">
				<img src="public/actnow.jpg" alt="act">
				<img src="public/actnow.jpg" alt="act">
			
			
				</div>
			</section>

		

			<!-- Problemet med digitalt affald... -->
			<section id="facts" class="text-dark-blue">
				<h2 class="lg:mx-auto text-center pb-8">Problemet med digitalt affald...</h2>
				<div class=" lg:grid lg:grid-cols-3 max-w-300 mx-auto elementmedanimation1">
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/bitcoin.svg" alt="">
							<p>Det kræver mere energi at mine Bitcoin, end hele New Zealand forbruger på et år.</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/co2.svg" alt="">
							<p>Internettet producerer mere end 900 millioner tons CO2 hvert år..</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/solar.svg" alt="">
							<p>Ubegrænset datakonsum i dag kræver 3 gange mere energi, end alle verdens solpaneler kan producere.</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/emailenergy.svg" alt="">
							<p>Én e-mail udleder i gennemsnit 4g CO2 = kulstofaftrykket fra en tændt lyspære i 6 minutter</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/worlddata.svg" alt="">
							<p>På blot ét år (2007) blev der skabt en zettabyte data på verdensplan I 2010 var dette fordoblet. </p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/email2.svg" alt="">
							<p>320 milliarder e-mails sendes hver dag og 62 billioner spam-e-mails hvert år = 20 millioner tons CO2.</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/trees.svg" alt="">
							<p>I 2035 vil vi skabe mere end 2.000 zettabytes. <br> <br>
								For at printe én zettabyte data ville der være brug for papir fra 20 billioner træer. <br> <br>
								Der er kun omkring 3,5 billioner træer tilbage på planeten, så det er ikke muligt.</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/servers.svg" alt="">
							<p>I 2022 blev omkring 70 millioner servere brugt til at lagre data. <br><br>
								Hver af dem forårsagede produktionen af 1–2 tons CO2. <br><br>
								Det år blev omkring 20 millioner af dem til e-affald. <br><br>
								99% af data blev skabt inden for de sidste 10 år.</p>
						</div>
					</div>
					<div class="[&_div]:   py-8 flex justify-center">
						<div>
							<img src="/facts/waste.svg" alt="">
							<p>90% af al data bliver aldrig tilgået igen efter 3 måneder.</p>
						</div>
					</div>
				</div>
			</section>
			
			<img src="/dividers/top1.svg" alt="">
			<!-- In numbers -->
			<section class=" bg-dark-green text-white [&_span]:text-accent-orange">
				<h1 class="max-w-200 pt-20 lg:max-w-250 lg:mx-auto lg:text-center">Lad os rydde op i vores digitale affald på <span>World Cleanup Day</span> og gøre vores del for miljøet!</h1>
				<div class="lg:grid grid-cols-3 mb-18 max-w-350 mx-auto">
					<div class="mt-18 flex flex-row justify-center text-center">
						<div class="sm:justify-items-center-center">
							<img src="/illustrations/group.svg" alt="">
							<h2>1,184,747</h2>
							<p>participants</p>
						</div>
					</div>
					<div class="mt-18 flex flex-row justify-center text-center">
						<div class="sm:justify-items-center-center">
							<img src="/illustrations/piechart.svg" alt="">
							<h2>14.5 M GB</h2>
							<p>of data deleted</p>
						</div>
					</div>
					<div class="mt-18 flex flex-row justify-center text-center">
						<div class="sm:justify-items-center-center">
							<img src="/illustrations/co2sky.svg" alt="" class="mx-auto">
							<h2>3,625 tons</h2>
							<p>of CO2 production prevented annually</p>
						</div>
					</div>
				</div>
			</section>

			<!-- form -->
				 <div class="lg:grid lg:grid-cols-2">
					<div class="bg-accent-orange text-white p-12 content-center ">
						<div class="mx-auto">
							<h4 class="pb-8 lg:max-w-80">Vær cool – giv ikke global opvarmning næring med digitalt affald</h4>
							<h2 class="lg:max-w-120">SKÆR NED PÅ DIT CO2”-AFTRYK VED AT DELTAGE I DIGITAL CLEANUP DAY</h2>
						</div>
					</div>
					<div class="bg-gray-200 p-12">
						<form action="" class="[&_div]:pb-8 [&_input]:border-0 [&_input]:rounded-md max-w-100 mx-auto">
							<div class="grid grid-cols-1">
								<label for="name">Dit navn:</label>
								<input type="text" id="name" placeholder="">
							</div>
							<div class="grid grid-cols-1">
								<label for="email">Email</label>
								<input type="text" id="name" placeholder="">
							</div>
							<div class="grid grid-cols-1">
								<label for="amount">Mængde slettet (i GB)</label>
								<input type="text" id="name" placeholder="">
							</div>
							<div class="text-xs">
								<input type="checkbox">
								<label for="agree" checked="checked">* Jeg er enig i <span class="text-accent-orange">Let's Do It, World's vilkår og betingelser</span></label>
							</div>
							<div class="text-xs">
								<input type="checkbox">
								<label for="newsletter" checked="checked">Jeg vil gerne tilmelde mig nyheder fra World Cleanup Day</span></label>
							</div>
							<div class="">
								<Button variant="primary" size="medium">Indsend</Button>
							</div>
						</form>
					</div>
				</div>
	</article>
</MainLayout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Inter:wght@400;700&display=swap');

	:root {
		--font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
		--font-inter: 'Inter', Arial, Helvetica, sans-serif;
	}

	html, body, * {
		font-family: var(--font-roboto) !important;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-roboto), Arial, Helvetica, sans-serif !important;
	}

	p {
		font-family: var(--font-inter), Arial, Helvetica, sans-serif !important;
	}

	section{
		padding: 24px 10px;
	}

	#facts p{
		max-width: 25ch;
	}
	#facts img{
		max-height: 100px;
	}

	/* h1{
		font-size: 64px;
		font-weight: bold;
	} */
	h2{
		font-size: 36px;
		font-weight: bold;
	}
	h3{
		font-size: 24px;
		font-weight: bold;
	}
	h4{
		font-size: 16px;
		font-weight: bold;
	}
	p{
		font-size: 16px;
	}
</style>

<script>

	import { inView } from "motion";
	
	 
	
	const elementmedanimation1 = document.querySelector(".elementmedanimation1");
	
	inView(elementmedanimation1, () => {
	
	elementmedanimation1.classList.add("animate__animated", "animate__fadeInUp", "animate__delay-.8s");
	
	}); 
	
	 
	
	const elementmedanimation2 = document.querySelector(".elementmedanimation2");
	
	inView(elementmedanimation2, () => {
	
	elementmedanimation2.classList.add("animate__animated", "animate__fadeInLeft" , "animate__delay-.8s");
	
	}); 
	
	
	const elementmedanimation3 = document.querySelector(".elementmedanimation3");
	
	inView(elementmedanimation3, () => {
	
	elementmedanimation3.classList.add("animate__animated", "animate__fadeInRight", "animate__delay-.8s");
	
	}); 
	
	</script>
