---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Burger from "../components/Burger.astro";
import Button from '../components/Button.astro';
import Footer from "../components/Footer.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
---
<MainLayout>
    <section class="bg-cover bg-center min-h-[120vh] flex items-center justify-center" style="background-image: url('/todo.jpg'); background-color: #0A5E58;">
      <section class="rounded-[2vw] bg-white py-8 px-4 md:px-10 max-w-5xl w-full mx-auto shadow-lg">
        <h1 class="text-center pt-6 text-black text-[40px] md:text-[64px] uppercase font-bold">Hvad kan jeg gøre for klimaet?</h1>
        <div class="grid sm:grid-cols-3 md:grid-cols-3 pt-10 md:pt-16 px-2 md:px-10 gap-10 md:gap-20">
          <div class="flex flex-col items-center">
            <img src="/car.png" alt="car" class="mb-8"> 
            <img src="/fabrik.png" alt="" class="mb-8"> 
            <img src="/mcd.png" alt=""> 
          </div>
          <div class="flex flex-col items-center">
            <img src="/point_better.png" alt="" class="mb-30"> 
            <img src="/point_better.png" alt="" class="mb-30"> 
            <img src="/point_better.png" alt=""> 
          </div>
          <div class="flex flex-col items-center">
            <img src="/cykel.png" alt="" class="mb-8"> 
            <img src="/lokal_t.png" alt="" class="mb-8"> 
            <img src="/carrot.png" alt=""> 
          </div>
        </div>
      </section>
    </section>
</MainLayout>