---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "medium", class: extraClass = "" } = Astro.props as {
  variant: "primary" | "secondary" | "tertiary";
  size: "large" | "medium" | "small";
  class?: string;
}; 

 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper

const buttonStyling = "text-nowrap object-contain bold px-8 py-2 my-auto rounded-full cursor-pointer duration-200"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 

const variantClasses = {

"primary": " bg-[#EC425A] text-white font-semibold hover:bg-[#EC425A] hover:scale-110",

"secondary": "border-3 border-inside border-[#EC425A] text-[#EC425A] hover:border-0 hover:bg-[#EC425A] hover:scale-110 hover:text-white",

"tertiary": "bg-dark-green text-white font-semibold hover:bg-dark-green hover:scale-110"
};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  large: "text-2xl",
  medium: "text-base",
  small: "text-sm"
};
---
<!-- Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[
  buttonStyling,
  variantClasses[variant as keyof typeof variantClasses],
  sizeClasses[size as keyof typeof sizeClasses],
  'btn-shake', // Tilføj shake-animation til alle knapper
  extraClass
]} type="button" aria-pressed="false"><slot /></button>