---
import Button from "./Button.astro";
---
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Inter:wght@400;700&display=swap');

:root {
  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif !important;
}
p {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif !important;
}
</style>

<div class="sm:grid-cols-1  p-5 pt-20 grid  gap-15 lg:grid-cols-4" style=" background-color: #005F67">

    <div class="pl-10 py-4">
            <a href="/"> <img src="public/logo_w.png" alt="indexlink"></a>
        </div>

    <div class="grid sm:grid-cols-1 gap-4 whitespace-nowrap shrink-0"> 
    <h4 class="text-white font-semibold p-1 mb-3">Departement</h4> 
    <p class="p-1 text-white font-light ">Holmens Kanal 20 <br> 1060 København K <br> T: +45 3392 2800 <br> E: kefm@kefm.dk <br> EAN 5798000875500 </p>
    </div>

    
    <div class="flex flex-wrap gap-4 whitespace-nowrap shrink-0">
        <ul class="text-white font-semibold">
            <a href="/klima"><li class="p-2  hover:text-accent-orange duration-200">FORSTÅ KLIMAET</li></a>
            <a href="/todo"><li class="p-2  hover:text-accent-orange duration-200">HVAD KAN DU GØRE?</li></a>
            <a href="/#chat" class="px-auto elementmedanimation2"><Button>DEBAT</Button></a>
        </ul>
    </div>


    <div class="flex flex-nowrap gap-4 whitespace-nowrap shrink-0 ">
        <a href="https://www.linkedin.com"><img src="public/linked.png" alt="linked"></a>
        <a href="https://www.instagram.com"><img src="public/insta_white.png" alt="insta"></a>
        <a href="https://www.facebook.com"><img src="public/facebook.png" alt="face"></a>
        <a href="https://www.tiktok.com"><img src="public/tiktok.png" alt="tiktok"></a>
    </div>
  
</div>
<div class="bg-dark-green p-8">
    <p class="text-center text-white">© All rigths Reserved | Klima,- Energi, & Forsynings Ministeriet </p>
</div>


