---
import Button from "./Button.astro";
---



<!-- FORM 2 -->
     <div class="lg:grid lg:grid-cols-2">
        <div class=" bg-dark-green text-white p-12 content-center flex items-center justify-center">
          <div class="w-full">
            <h1 class="text-[36px] font-bold text-center">Ønsker du mere info <br> om hvor du kan gøre <br> en forskel ?<br>Skriv dig op her!</h1>
            <img class="w-0 lg:w-10 ml-80 mt-10" src="/arrow_w.png" alt="arrow" />
          </div>
        </div>
        
        <div class="bg-[#EC425A] p-12">
            <h3 class="lg:ml-25 pb-8 lg:max-w-80 text-white">Har du lyst til at vide mere om hvordan du kan gøre en forskel?
                Skriv dig op til vores nyhedsbrev her!</h3>
            <form action="" class="[&_div]:pb-8 [&_input]:border-0 [&_input]:rounded-md max-w-100 mx-auto">
                <div class="text-white grid grid-cols-1">
                    <label for="name">Dit navn:</label>
                    <input type="text" id="name" placeholder="">
                </div>
                <div class="text-white grid grid-cols-1">
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="">
                </div>
                <div class="text-white text-xs">
                    <input type="checkbox" id="agree" checked>
                    <label for="agree">* Jeg er enig i <span class="text-red">KEFMYOUTH's vilkår og betingelser</span></label>
                </div>
                <div class="text-white text-xs">
                    <input type="checkbox" id="newsletter" checked>
                    <label for="newsletter">Jeg vil gerne tilmelde mig nyheder fra KEFMYOUTH</label>
                </div>
                <div class="text-white">
                    <Button variant="tertiary" size="medium" class="hover:bg-dark-green">SEND</Button>
                </div>
            </form>
        </div>
    </div>